# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment files
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Streamlit Secrets
.streamlit/secrets.toml

# Logs
*.log

# Operating system files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/

# Cache and temporary files
.cache/
